{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static '/css/main.css' %}" rel='stylesheet' type='text/css'>
    
    <title>Login</title>
</head>
<body>
    
<div class="content">
<main>
    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        
        <input class="button-class" type="submit" value="Login">
        <button class="button-class"><a href="{% url 'register' %}" style="color: white;">Register</a></button>
    </form>
</main>
</div>
</body>
</html>