{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static '/css/main.css' %}" rel='stylesheet' type='text/css'>
    
    <title>{{request.user|capfirst}} To-Do List</title>
</head>
<body>
    
<div class="content"> 
    <header>
        {% if request.user.is_authenticated %}
        <div class="profile">
            <img class="profile-image" src = "{% static '/images/esm.jpg' %}">
            <div class="profile-name">
            <h2>{{request.user|title}}</h2>
            <small>💙 {{count}} incompleted task{{count|pluralize:"s"}}</small>
            </div>
        </div>
    <p><a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
    <p><a href="{% url 'login' %}">Login</a></p>
    {% endif %}
    </header>
    <main>
    {% block content %}
        
    {% endblock %}
    </main>
</div>
</body>
</html>